.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 1px;
}

/* .cell:hover {
    background-color: #5a1452;
} */

.grid-container {
    display: grid;
    margin: 20px auto;
    width: 900px;
}

.gen {
    color: white;
    font-size: 20px;
}

.main-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    height: 500px;
}